<div class="component">
  <h1>Product List</h1>
  <button [routerLink]="['/products/new']" class="btn btn-addnew">Add New Product</button>
  <table class="table table-bordered">
    <thead class="thead-light">
      <tr>
        <th scope="col">id</th>
        <th scope="col">Name</th>
        <th scope="col">Qty</th>
        <th scope="col">Price</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let prod of allProducts">
        <td>{{ prod.prodid }}</td>
        <td>{{ prod.prodname }}</td>
        <td>{{ prod.prodquantity }}</td>
        <td>${{ prod.prodprice }}</td>
        <td>
          <button [routerLink]="['/products/'+prod.prodid+'/edit']" type="button" class="btn btn-edit">Edit</button>
          <button [routerLink]="['/products/'+prod.prodid]" type="button" class="btn btn-details">Details</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>